// Preset configs
* {
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(black, 0);
  }
}

::selection {
  color: white;
  background: $beta;
}

::placeholder {
  color: $gray-light;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: $font-color;
  background: $bg-color;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  @include transition;
  height: $field-height;
  border: 2px solid $gray-lighter;
  padding: 8px;
  outline: none;

  &:focus {
    border-color: rgba($outline-color, .7);
  }
}

button {
  @include transition;
  border: 0;
  color: white;
  background: $alpha;
  height: $field-height;
  cursor: pointer;

  &:hover,
  &:focus {
    background: darken($alpha, 10);
    outline-color: $alpha;
  }
}
