@import '../../styles/base';
@import '../../styles/mixins';

// Vars
$card-bg: cornflowerblue;

// Main containers
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 100vh;

  @include breakpoint(tablet) {
    grid-auto-rows: minmax(540px, 80vh);
    grid-gap: 5vh;
    padding: 5vh;
  }
}

.card {
  @include flex($flex-direction: column);
  align-items: stretch;
  justify-content: center;
  background-image: linear-gradient($card-bg, darken($card-bg, 30));
  color: white;

  @include breakpoint(tablet) {
    border-radius: $radius ;
    box-shadow: $shadow;
  }
}

// Card header
.card-header {
  @include flex($flex-direction: column);
  min-height: 20%;
}

.card-city {
  font-size: 2.5rem;
  margin: 10px;
  font-weight: normal;
}

.card-date {
  font-size: 1.3rem;
}

// Card content
.card-content {
  @include flex($flex-direction: column);
  min-height: 40%;
}

.card-icon {
  font-size: 38px;
  vertical-align: sub;
  margin: 10px 20px;
}

.card-sky {
  font-size: 1.7rem;
  margin: 0;
}

.card-temp {
  font-size: 4rem;
  margin: 0;
}

.card-max-min {
  font-size: 1.3rem;

  span {
    display: inline-block;
    margin: 10px;
  }
}
