@import '../../styles/base';
@import '../../styles/mixins';

// Vars
$button-size: 68px;

// Fixed button
.fixed-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: $button-size;
  height: $button-size;
  background: $beta;
  border-radius: $button-size;
  font-size: 32px;
  box-shadow: $shadow;
  z-index: 1;
  outline: 0;

  &:hover,
  &:focus {
    background: darken($beta, 10);
  }

  svg {
    vertical-align: text-bottom;
  }
}

// Modal
.modal {
  @include flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, .4);
  z-index: $modal-zindex;
}

// Search form
.form {
  position: relative;
  margin: 5%;
  padding: 40px 20px;
  background: white;
  border-radius: $radius;
  box-shadow: $shadow;
}

.close {
  position: absolute;
  top: .5rem;
  right: .8rem;
  height: 38px;
  color: $gray-light;
  background: none;

  &:focus,
  &:hover {
    color: $gray;
    background: none;
  }
}

.label,
.input,
.submit {
  font-size: 1.1rem;
  margin: 5px 0;
}

.label {
  display: block;
}

.input {
  width: 80%;
  vertical-align: bottom;

  &:focus {
    border-color: $alpha;
  }
}

.submit {
  width: 50px;
}

.feedback {
  display: block;
  line-height: 18px;
}
